[submodule "TremorGenerator/TremorGeneratorFirmware/lib/Encoder"]
	path = TremorGenerator/TremorGeneratorFirmware/lib/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "Prototype2/lib/Time"]
	path = Prototype2/lib/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "Prototype2/lib/Encoder"]
	path = Prototype2/lib/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
